body {
  background-color: rgb(207, 204, 231);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#heading1{
  font-size: 300%;
  text-align: center;
  font-weight: bold;
  /* border: 2px solid black; */

}
#search_by_date{
  text-align: center;
  font-size: 175%;
}
.inputt{
  text-align: center;
  font-size: 175%;
  
}
.res1{
  text-align: center;
  font-size: 200%;
  color: rgb(76, 0, 255);
  margin: 5%;
  border:1px solid black;
  border-radius: 10%;
  background-color: rgb(185, 209, 209);

}

#date11{
  font-size: 100%;
  border-radius: 10%;
}
button{
  font-size: 100%;
  border-radius: 10%;
}
#years{
  font-size: 100%;
  margin:2%;
  border-radius: 10%;
}
#input2{
  font-size: 70%;
  color:blue;
  border-radius: 10%;
}
input{
  margin:2%
}
#aa1{
  text-align: center;
  color:green;
  margin:2%;
}
#aa2{
  margin:2%;
}

.aaa1{
  display:flex;
  flex-direction: row; 
  justify-content: space-evenly;
  
 } 

.left1{
  text-align: left;
  flex:1;
  text-align: justify;
  width:50%;
  margin-left: 100px;
}
.right1{
  flex:1;
  text-align: justify;
  /* margin: 60px; */
  margin-right: 100px;
}

.Total1{
  border: 1px solid black;
  text-align: justify;
  width:40%;
  margin-bottom:10px;
}
.Playing1{
  width:60%;
  border: 1px solid black;
  text-align: left;
  /* margin-left: 100px; */
  margin-bottom:10px;
  border-radius: 5%;
  background-color: rgb(182, 212, 212);
}

.toss{
  text-align: left;
  margin-left: 100px;
  border: 1px solid black;
  margin-bottom:10px;
  width:40%;
  border-radius: 5%;
  background-color: rgb(182, 212, 212);
}

.Heading1{
  font-size: 200%;
  font-weight: bold;
}

.Heading2{
  font-size: 120%;
  font-weight: bold;
}
.Heading6{
  margin:1%;
  color:rgb(48, 4, 151);
}

.TeamName{
  font-size: 120%;
  font-weight: bold;
}
.Total1{
  text-align: left;
  /* margin-left: 100px; */
  border: 1px solid black;
  margin-bottom:10px;
  width:40%;
  border-radius: 5%;
  background-color: rgb(182, 212, 212);
}

#nf{
  text-align: center;
  font-size: 200%;
  color: rgb(76, 0, 255);
  margin: 5%;
  border:1px solid black;
  border-radius: 10%;
  background-color: rgb(185, 209, 209);

}